@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I, Mark Suverkrup, indroduce to you, TinderForPets.  This revolutionary service seeks to connect orphaned pets with a loving and supportive home.
    By allowing Animal Shelter Owners to post and advertise pets that have nowhere else to go, prospecive owners are able to easily find these pets
    and find a way to adopt them.</p>
