@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Pet Way<br />
    Barkeyville, PA 98052<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:marksuverkrup@gmail.com">tinderforpets@tfp.com</a><br />
    <strong>Humane Society:</strong> <a href="https://www.humanesociety.org/resources/adopting-animal-shelter-or-rescue-group">Partner with us.</a>
</address>