@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TinderForPets</h1>
    <p class="lead">Find your next furry friend.  We've been connecting Animal Shelters with people looking to adopt since 2021.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <p>
        @Html.ActionLink("View Pets", "User", "Dog")
    </p>
</div>

<div class="row light">
    <div class="col-md-4">
        <h2>Where to Start</h2>
        <p>
            If you are looking for a good place to find more information about adopting an animal and the implications that can go along with it, I urge you to visit The Humane Society
            for more information or to donate.
        </p>
        <p><a class="btn btn-default" href="https://www.humanesociety.org/resources/adopting-animal-shelter-or-rescue-group">Humane Society &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Refine Your Search</h2>
        <p>If you are looking for a more precise way to find your new pet, we have partered with PetFinder, check them out!</p>
        <p><a class="btn btn-default" href="https://www.petfinder.com/">PetFinder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Facebook</h2>
        <p>If you are looking to get involved but don't really know how, we suggest you look into our social media to find event you can parter with to further the cause.</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/groups/1653154088263047">Facebook &raquo;</a></p>
    </div>
</div>